.feed-container {
  grid-area: feed;

  position: relative;
  height: 100vh;
  margin: 0;
}

.box-container {
  width: 950px;
  height: auto;

  margin: 25px 0 30px 100px;

  border: 0 solid #000;
  background-color: #fff;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 0 17.9px rgba(0, 0, 0, 0.072), 0 1px 25px rgba(0, 0, 0, 0.086), 0 20px 80px rgba(0, 0, 0, 0.12);
}

.data-container {
  display: grid;
  height: 100%;
  grid-template-columns: 60px minmax(60px, auto);
  grid-template-rows: 50px minmax(50px, auto) 50px;
  grid-template-areas: "votes header" "votes feed" "votes footer";
}

.votes-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  grid-area: votes;

  background: var(--votes-bg);
  padding-top: 20px;
}

.votes-container p {
  line-height: 2.5;
  text-align: center;
  font-weight: bold;
}

.up-vote,
.down-vote {
  cursor: pointer;
}

.up-voted {
  cursor: pointer;
  color: var(--upvote);
}

.up-voted-p {
  color: var(--upvote);
}

.down-voted {
  cursor: pointer;
  color: var(--downvote);
}

.down-voted-p {
  color: var(--downvote);
}

.feed-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 10px;

  grid-area: header;
}

.feed-header p {
  font-size: 13px;
  padding-left: 10px;
  font-weight: bold;
  margin-right: 50px;
}

.feed-header span {
  font-size: 12px;
  opacity: 0.6;
  margin-right: 15px;
}


.feed-icon-img {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background-size: cover;
}

.feed-body {
  overflow-wrap: break-word;
  grid-area: feed;
}

.feed-body p {
  font-size: 20px;
  margin: 0 0 10px 10px;
}

.feed-body img {
  width: 100%;
  height: auto;
}

.footer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 15px;

  grid-area: footer;
  width: 100%;
  opacity: 0.7;
}

.comments {
  cursor: pointer;
  display: flex;
  align-items: center;
  height: 45px;
  border-radius: 4px;
}
.comments p {
  font-size: 14px;
  font-weight: bold;
  opacity: 0.65;
  padding: 0 5px;
}

.comment-icon {
  padding-left: 5px;
}

.comments:hover {
  background-color: var(--color-bg);
}