.navbar-container { 
    position: fixed;
    right: 0;
    left: 0;
    top: 0;

    z-index: 4;
    background: #fff;
    border-bottom: 2px solid var(--color-bg);
    grid-area: navbar;
}

.navbar-header-content {
    padding: 1rem 3rem;
    display: flex;
    align-items: center;
}

.navbar-header-content h1 {
    font-family: var(--logo-text);
    font-weight: 100;

    margin-right: 5rem;
}

@media screen and (max-width: 520px) {
    .navbar-header-content h1 {
        margin-right: 3rem;
    }  
}